src/schemas/wxp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           version="1.0">

  <!--
    WXP Canonical Schema - pi-gsd v1.0
    Authoritative definition of all WXP XML elements, attributes, nesting rules,
    and content models. Mirrors src/schemas/wxp.zod.ts exactly.

    PRD §3, §4.1
  -->

  <!-- ═══════════════════════════════════════════════════════════════════════
       Shared simple types
       ═══════════════════════════════════════════════════════════════════════ -->

  <!-- Valid values for the `type` attribute on <arg> -->
  <xs:simpleType name="ArgType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="string"/>
      <xs:enumeration value="number"/>
      <xs:enumeration value="boolean"/>
      <xs:enumeration value="flag"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Valid values for the `type` attribute on <out> (v1: string only) -->
  <xs:simpleType name="OutType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="string"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Valid string-op operations (v1: split only) -->
  <xs:simpleType name="StringOpOp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="split"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Valid condition operators -->
  <xs:simpleType name="ConditionOp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="equals"/>
      <xs:enumeration value="starts-with"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ═══════════════════════════════════════════════════════════════════════
       <arg> - universal argument element
       Used in: <gsd-arguments>, <shell><args>, <string-op><args>,
                <gsd-include><gsd-arguments>, <left>, <right>
       ═══════════════════════════════════════════════════════════════════════ -->

  <xs:element name="arg">
    <xs:annotation>
      <xs:documentation>
        Universal argument element. Attributes are interpreted by context:

        In &lt;gsd-arguments&gt;:
          name + type (required), flag (required when type="flag"), optional (boolean attr)

        In &lt;shell&gt;&lt;args&gt;:
          string="literal"              - literal string argument
          name="varname"                - variable reference
          name="varname" wrap='"'       - variable wrapped in quotes
          type="string" value="..."     - typed literal (inline)

        In &lt;string-op&gt;&lt;args&gt;:
          name="varname"                - variable reference
          type="string" value="..."     - typed literal (delimiter)

        In &lt;left&gt; / &lt;right&gt; (condition operands):
          name="varname"                - variable reference
          type="string|boolean|number" value="..."  - literal operand

        In &lt;gsd-include&gt;&lt;gsd-arguments&gt;:
          name="callerVar" as="targetVar"  - variable rename mapping
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <!-- Literal string argument (shell context): <arg string="execute-phase" /> -->
      <xs:attribute name="string" type="xs:string" use="optional"/>
      <!-- Variable reference: <arg name="phase" /> -->
      <xs:attribute name="name" type="xs:string" use="optional"/>
      <!-- Wrap character for variable refs: <arg name="phase" wrap='"' /> -->
      <xs:attribute name="wrap" type="xs:string" use="optional"/>
      <!-- Type annotation (required in gsd-arguments; indicates literal type elsewhere) -->
      <xs:attribute name="type" type="ArgType" use="optional"/>
      <!-- Literal value (used with type= for inline typed args) -->
      <xs:attribute name="value" type="xs:string" use="optional"/>
      <!-- Flag token to match in $ARGUMENTS: <arg name="auto" type="flag" flag="--auto" /> -->
      <xs:attribute name="flag" type="xs:string" use="optional"/>
      <!-- Marks arg as optional in gsd-arguments (boolean attribute - presence = optional) -->
      <xs:attribute name="optional" type="xs:string" use="optional"/>
      <!-- Variable rename in gsd-include arg mappings: <arg name="x" as="y" /> -->
      <xs:attribute name="as" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>

  <!-- ═══════════════════════════════════════════════════════════════════════
       <out> - output capture element
       Used in: <shell><outs>, <string-op><outs>
       ═══════════════════════════════════════════════════════════════════════ -->

  <xs:element name="out">
    <xs:annotation>
      <xs:documentation>
        Captures stdout into a named variable.
        Example: &lt;out type="string" name="init" /&gt;
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="type" type="OutType" use="required"/>
      <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <!-- ═══════════════════════════════════════════════════════════════════════
       <suppress-errors> - suppress stderr (equivalent to 2>/dev/null)
       Used in: <shell><outs>
       ═══════════════════════════════════════════════════════════════════════ -->

  <xs:element name="suppress-errors">
    <xs:annotation>
      <xs:documentation>
        Suppresses stderr. Non-zero exit stores empty string in out variables
        instead of aborting. Equivalent to 2&gt;/dev/null.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType/>
  </xs:element>

  <!-- ═══════════════════════════════════════════════════════════════════════
       <args> - ordered argument list container
       Used in: <shell>, <string-op>
       ═══════════════════════════════════════════════════════════════════════ -->

  <xs:element name="args">
    <xs:annotation>
      <xs:documentation>Ordered list of arguments. Position matters.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="arg" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ═══════════════════════════════════════════════════════════════════════
       <outs> - output capture container
       Used in: <shell>, <string-op>
       ═══════════════════════════════════════════════════════════════════════ -->

  <xs:element name="outs">
    <xs:annotation>
      <xs:documentation>
        Output capture list. Children are &lt;out&gt; and/or &lt;suppress-errors /&gt;.
        The &lt;outs&gt; element is optional on &lt;shell&gt; (no output captured if absent).
        The &lt;outs&gt; element is mandatory on &lt;string-op&gt;.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="out"/>
        <xs:element ref="suppress-errors"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <!-- ═══════════════════════════════════════════════════════════════════════
       <left> / <right> - condition operands
       Used in: <equals>, <starts-with>
       ═══════════════════════════════════════════════════════════════════════ -->

  <xs:complexType name="OperandType">
    <xs:annotation>
      <xs:documentation>
        Condition operand. Either a variable reference (name=) or a typed literal (type= value=).
        Variable:  &lt;left name="auto-chain-active" /&gt;
        Literal:   &lt;right type="boolean" value="false" /&gt;
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="name" type="xs:string" use="optional"/>
    <xs:attribute name="type" type="ArgType" use="optional"/>
    <xs:attribute name="value" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:element name="left"  type="OperandType"/>
  <xs:element name="right" type="OperandType"/>

  <!-- ═══════════════════════════════════════════════════════════════════════
       <equals> / <starts-with> - condition operators
       Used in: <condition>
       ═══════════════════════════════════════════════════════════════════════ -->

  <xs:complexType name="ConditionExprType">
    <xs:sequence>
      <xs:element ref="left"/>
      <xs:element ref="right"/>
    </xs:sequence>
  </xs:complexType>



  <xs:element name="condition">
    <xs:complexType>
      <xs:group ref="ConditionExprGroup"/>
    </xs:complexType>
  </xs:element>

  <!-- ═══════════════════════════════════════════════════════════════════════
       <shell> - execFileSync wrapper (PRD §3.3.1)
       ═══════════════════════════════════════════════════════════════════════ -->

  <xs:element name="shell">
    <xs:annotation>
      <xs:documentation>
        Execute an allowlisted command via execFileSync (30s timeout, no shell injection).
        Command must be in the WXP shell allowlist.
        Non-zero exit aborts unless &lt;suppress-errors /&gt; is present.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="args" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="outs" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="command" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>Bare executable name. Must be in shellAllowlist.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <!-- ═══════════════════════════════════════════════════════════════════════
       <string-op> - string operations (PRD §3.3.3)
       ═══════════════════════════════════════════════════════════════════════ -->

  <xs:element name="string-op">
    <xs:annotation>
      <xs:documentation>
        String manipulation operation. v1 supports op="split" only.
        split: args[0]=source, args[1]=delimiter; each &lt;out&gt; gets one part.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="args"/>
        <xs:element ref="outs"/>
      </xs:sequence>
      <xs:attribute name="op" type="StringOpOp" use="required"/>
    </xs:complexType>
  </xs:element>

  <!-- ═══════════════════════════════════════════════════════════════════════
       <then> / <else> - conditional branches inside <if>
       ═══════════════════════════════════════════════════════════════════════ -->

  <xs:element name="then">
    <xs:complexType>
      <xs:group ref="ExecutableOperations" minOccurs="0" maxOccurs="unbounded"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="else">
    <xs:complexType>
      <xs:group ref="ExecutableOperations" minOccurs="0" maxOccurs="unbounded"/>
    </xs:complexType>
  </xs:element>

  <!-- ═══════════════════════════════════════════════════════════════════════
       <display> - deterministic notification (PRD §3.x)
       ═══════════════════════════════════════════════════════════════════════ -->

  <xs:element name="display">
    <xs:annotation>
      <xs:documentation>
        Emits a ctx.ui.notify() at WXP processing time.
        msg supports {varname} and {var.prop} dot-notation interpolation.
        Does NOT inject into document text - UI notification only.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="msg" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>Template string. {varname} and {obj.prop} interpolated from variable store.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="level" use="optional" default="info">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="info"/>
            <xs:enumeration value="warning"/>
            <xs:enumeration value="error"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <!-- ═══════════════════════════════════════════════════════════════════════
       <json-parse> - parse JSON variable into scalar or array
       ═══════════════════════════════════════════════════════════════════════ -->

  <xs:element name="json-parse">
    <xs:annotation>
      <xs:documentation>
        Parses the JSON string in `src` variable.
        path: optional dot-path selector ("$.key" or "$.key.sub").
        out: name of output variable (scalar string or array for &lt;for-each&gt;).
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="src" type="xs:string" use="required"/>
      <xs:attribute name="path" type="xs:string" use="optional"/>
      <xs:attribute name="out" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <!-- ═══════════════════════════════════════════════════════════════════════
       <where> - filter clause inside <for-each>
       ═══════════════════════════════════════════════════════════════════════ -->

  <xs:element name="where">
    <xs:complexType>
      <xs:group ref="ConditionExprGroup"/>
    </xs:complexType>
  </xs:element>

  <!-- ═══════════════════════════════════════════════════════════════════════
       <sort-by> - sort clause inside <for-each>
       ═══════════════════════════════════════════════════════════════════════ -->

  <xs:element name="sort-by">
    <xs:complexType>
      <xs:attribute name="key" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>Property key to sort by, supports dot-notation (e.g. "phase.number").</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="type" use="optional" default="string">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="string"/>
            <xs:enumeration value="number"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="order" use="optional" default="asc">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="asc"/>
            <xs:enumeration value="desc"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <!-- ═══════════════════════════════════════════════════════════════════════
       <for-each> - iteration over array variables
       ═══════════════════════════════════════════════════════════════════════ -->

  <xs:element name="for-each">
    <xs:annotation>
      <xs:documentation>
        Iterates an array variable (populated by &lt;json-parse&gt; or &lt;string-op op="split"&gt;).
        Each item is set as `item` variable during iteration (JSON string for objects).
        Optional &lt;where&gt; pre-filters; optional &lt;sort-by&gt; sorts before iteration.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="where" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="sort-by" minOccurs="0" maxOccurs="1"/>
        <xs:group ref="ExecutableOperations" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="var" type="xs:string" use="required">
        <xs:annotation><xs:documentation>Name of the array variable to iterate.</xs:documentation></xs:annotation>
      </xs:attribute>
      <xs:attribute name="item" type="xs:string" use="required">
        <xs:annotation><xs:documentation>Variable name assigned to each item during iteration.</xs:documentation></xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <!-- ═══════════════════════════════════════════════════════════════════════
       Condition expression group - all valid condition operators
       ═══════════════════════════════════════════════════════════════════════ -->

  <xs:group name="ConditionExprGroup">
    <xs:choice>
      <xs:element name="equals"      type="ConditionExprType"/>
      <xs:element name="not-equals"  type="ConditionExprType"/>
      <xs:element name="starts-with" type="ConditionExprType"/>
      <xs:element name="contains"    type="ConditionExprType"/>
      <xs:element name="less-than"              type="ConditionExprType"/>
      <xs:element name="greater-than"           type="ConditionExprType"/>
      <xs:element name="less-than-or-equal"     type="ConditionExprType"/>
      <xs:element name="greater-than-or-equal"  type="ConditionExprType"/>
      <xs:element name="and"         type="LogicalCondType"/>
      <xs:element name="or"          type="LogicalCondType"/>
    </xs:choice>
  </xs:group>

  <!-- Logical condition: <and>/<or> contain child condition expressions -->
  <xs:complexType name="LogicalCondType">
    <xs:annotation>
      <xs:documentation>
        &lt;and&gt;: all children must be true.
        &lt;or&gt;: at least one child must be true.
        Children are condition expressions - supports nesting.
      </xs:documentation>
    </xs:annotation>
    <xs:group ref="ConditionExprGroup" minOccurs="1" maxOccurs="unbounded"/>
  </xs:complexType>

  <!-- ═══════════════════════════════════════════════════════════════════════
       Updated ExecutableOperations group - includes new elements
       ═══════════════════════════════════════════════════════════════════════ -->

  <xs:group name="ExecutableOperations">
    <xs:choice>
      <xs:element ref="shell"/>
      <xs:element ref="if"/>
      <xs:element ref="string-op"/>
      <xs:element ref="json-parse"/>
      <xs:element ref="for-each"/>
      <xs:element ref="display"/>
    </xs:choice>
  </xs:group>

  <!-- ═══════════════════════════════════════════════════════════════════════
       <if> - conditional execution (PRD §3.3.2)
       ═══════════════════════════════════════════════════════════════════════ -->

  <xs:element name="if">
    <xs:annotation>
      <xs:documentation>
        Conditional execution. Evaluates &lt;condition&gt; and runs &lt;then&gt; or &lt;else&gt;.
        Condition operators: &lt;equals&gt;, &lt;starts-with&gt;.
        Operands: variable reference (name=) or typed literal (type= value=).
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="condition"/>
        <xs:element ref="then" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="else" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ═══════════════════════════════════════════════════════════════════════
       <delimiter> - argument delimiter configuration
       Used in: <gsd-arguments><settings><delimiters>
       ═══════════════════════════════════════════════════════════════════════ -->

  <xs:element name="delimiter">
    <xs:complexType>
      <xs:attribute name="type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="string"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="value" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <!-- ═══════════════════════════════════════════════════════════════════════
       <settings> - parsing settings inside <gsd-arguments>
       ═══════════════════════════════════════════════════════════════════════ -->

  <xs:element name="settings">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="1">
          <xs:element name="keep-extra-args">
            <xs:annotation>
              <xs:documentation>Extra positional tokens stored in _extra variable.</xs:documentation>
            </xs:annotation>
            <xs:complexType/>
          </xs:element>
          <xs:element name="strict-args">
            <xs:annotation>
              <xs:documentation>Extra positional tokens → error.</xs:documentation>
            </xs:annotation>
            <xs:complexType/>
          </xs:element>
        </xs:choice>
        <xs:element name="delimiters" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="delimiter" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ═══════════════════════════════════════════════════════════════════════
       <gsd-arguments> - argument declaration block (PRD §3.2)
       ═══════════════════════════════════════════════════════════════════════ -->

  <xs:element name="gsd-arguments">
    <xs:annotation>
      <xs:documentation>
        Declares how $ARGUMENTS is parsed. Two-pass algorithm:
        Pass 1: flags extracted (type="flag") anywhere in the string.
        Pass 2: remaining tokens assigned to positionals left-to-right.
                Last string arg is greedy (consumes all remaining tokens).
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="settings" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="arg" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ═══════════════════════════════════════════════════════════════════════
       <gsd-execute> - executable block container (PRD §3.3)
       ═══════════════════════════════════════════════════════════════════════ -->

  <xs:element name="gsd-execute">
    <xs:annotation>
      <xs:documentation>
        Container for WXP operations executed before the LLM receives the document.
        Processed in document order. Removed from output after execution.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:group ref="ExecutableOperations" minOccurs="0" maxOccurs="unbounded"/>
    </xs:complexType>
  </xs:element>

  <!-- ═══════════════════════════════════════════════════════════════════════
       <gsd-paste> - variable injection (PRD §3.4)
       ═══════════════════════════════════════════════════════════════════════ -->

  <xs:element name="gsd-paste">
    <xs:annotation>
      <xs:documentation>
        Replaced with the named variable's string value.
        Undefined variable → abort (no partial output).
        Tags inside fenced code blocks are never replaced.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <!-- ═══════════════════════════════════════════════════════════════════════
       <gsd-include> - file inclusion (PRD §3.1, §3.6)
       ═══════════════════════════════════════════════════════════════════════ -->

  <xs:element name="gsd-include">
    <xs:annotation>
      <xs:documentation>
        Inline another workflow file at this position.
        Self-closing form:  &lt;gsd-include path="..." /&gt;
        With arg mapping:  &lt;gsd-include path="..."&gt;&lt;gsd-arguments&gt;...&lt;/gsd-arguments&gt;&lt;/gsd-include&gt;
        include-arguments: appends $ARGUMENTS after included content.
        select: optional content selector (tag:NAME, heading:TEXT, lines:N-M).
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <!-- Child gsd-arguments for variable rename mappings (INC-02) -->
        <xs:element ref="gsd-arguments" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="path" type="xs:string" use="required"/>
      <xs:attribute name="select" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Content selector: tag:NAME | heading:TEXT | lines:N-M. Chainable with |.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="include-arguments" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Boolean attribute. Presence appends $ARGUMENTS after included content.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <!-- ═══════════════════════════════════════════════════════════════════════
       <gsd-version> - workflow version tag (PRD §6.1, WFL-04, WFL-05)
       ═══════════════════════════════════════════════════════════════════════ -->

  <xs:element name="gsd-version">
    <xs:annotation>
      <xs:documentation>
        Identifies the pi-gsd version that produced this workflow file.
        do-not-update: presence opts the file out of harness auto-updates.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="v" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>Semantic version, e.g. "1.12.4"</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="do-not-update" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Boolean attribute. Presence prevents auto-update overwrite.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

</xs:schema>
